# cpu_vah/
build
cpu_vah
output
semi_analytic
*.DS_Store


# tables
tables/energy_density/lattice_trento/smooth_2d


# python/
python/model_parameters
python/fireball_size_predictions
python/figures
python/.ipynb_checkpoints


# tests/
tests/conformal_bjorken/results
tests/conformal_gubser/results

tests/lattice_trento_fluctuating/fireball/vah/xy_plane
tests/lattice_trento_fluctuating/fireball/vh/xy_plane
tests/lattice_trento_fluctuating/fireball/vh2/xy_plane
tests/lattice_trento_fluctuating/freezeout/vah/*.dat
tests/lattice_trento_fluctuating/freezeout/vh/*.dat
tests/lattice_trento_fluctuating/freezeout/vh2/*.dat
tests/lattice_trento_fluctuating/initial_profile/*.dat
tests/lattice_trento_fluctuating/*.png

